:root {
    --primary-color: #6572ff;
    --primary-hover-color: #5660d9;
    --secondary-color: #e5e9f2;
    --muted-color: #f4f4f5;

    /* FONT SIZE */
    --font-size-base: 14px;
    --font-size-semibig: 15px;
    --font-size-h2: 24px;
    --font-size-extrabig: 32px;
    /* END FONT SIZE */
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #fafafa;
}

.text-primary {
    color: var(--primary-color) !important;
}

.text-muted {
    color: var(--muted-color);
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25;
}

.text-xs {
    font-size: 0.75rem;
    line-height: 1.25;
}

.chart {
    height: 100px !important;
    width: 100%;
}

.form-check-input:checked {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.fixed-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}

.bg-success {
    background-color: #22c55e !important;
}

.bg-danger {
    background-color: #f24a4a !important;
}

.dropdown-menu .dropdown-item:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.bg-muted {
    background-color: var(--muted-color);
}

.font-semibold {
    font-weight: 600;
}

.card {
    padding: 32px;
    border-radius: 10px;
    border: 1px #edf2f9 !important;
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
}

.dropdown-item {
    padding: 0 !important;
    border-radius: 6px;
}

.dropdown-item:hover {
    background-color: transparent;
}

.bulk-delete {
    background-color: transparent;
    border: 0px;
    color: var(--primary-color);
    font-weight: 600 !important;
}

.bulk-delete:hover {
    text-decoration: underline;
}

.dropdown-menu {
    border-radius: 10px;
    border: 1px #edf2f9 !important;
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
    padding: 8px;
}

.logout-item {
    color: #f87171 !important;
    width: 100%;
    text-align: left;
    border-radius: 6px;
}

.logout-item:hover {
    background-color: #fef2f2 !important;
}

.login-fasilitasi {
    background-image: url('/image/bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Warna latar belakang header kalender */
.fc-toolbar-title {
    font-weight: 500;
}

.fc a {
    color: #000 !important;
    text-decoration: none;
}

.fc .fc-col-header-cell-cushion {
    font-weight: 400;
}

.fc-today-button {
    background-color: var(--primary-color) !important;
    border: 0 !important;
}

.fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 12px 4px;
}

.fc-prev-button {
    background-color: #f5f8fa !important;
    color: #838aa8 !important;
    border: 0 !important;
}

.fc-next-button {
    background-color: #f5f8fa !important;
    color: #838aa8 !important;
    border: 0 !important;
}

.fc-dayGridMonth-button {
    background-color: #f5f8fa !important;
    color: #838aa8 !important;
    border: 0 !important;
}

.fc-timeGridWeek-button {
    background-color: #f5f8fa !important;
    color: #838aa8 !important;
    border: 0 !important;
}

.fc-h-event {
    border: 0px !important;
}

.custom-event-title {
    background-color: var(--primary-color);
    border: 0px;
    color: #fff;
    padding: 4px;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
}

.button-action {
    color: var(--primary-color);
    text-decoration: none;
}

.button-action:hover span {
    text-decoration: underline;
}

.button-action span {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--primary-color);
    text-decoration: none;
}

.btn-primary {
    background-color: var(--primary-color);
    border-radius: 6px;
    padding: 10px 12px;
    width: fit-content;
    border: 0;
    font-size: 0.875rem;
    line-height: 1.25;
    font-weight: 500;
}

.btn-primary:hover {
    background-color: var(--primary-hover-color) !important;
}

.btn-outline {
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    padding: 10px 12px;
    font-size: 0.875rem;
    line-height: 1.25;
    font-weight: 500;
    width: fit-content;
}

.btn-outline:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.btn-secondary {
    background-color: #6c757d;
    border-radius: 6px;
    padding: 10px 12px;
    width: fit-content;
    border: 0;
    font-size: 0.875rem;
    line-height: 1.25;
    font-weight: 500;
}

.btn-primary:hover {
    background-color: var(--primary-color);
}

.form-control {
    border-radius: 10px;
    background: #fff;
    border: 1;
    padding-left: 20px;
}

.form-select {
    border-radius: 10px;
    background: #fff;
    border: 1;
    padding-left: 20px;
}

.form-label {
    font-weight: 500 !important;
    line-height: 1.5rem;
    font-size: 0.875rem;
}

.nav-item {
    padding: 0 0.5rem;
}

.nav-item .nav-link span {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(63, 63, 70);
}

.nav-item:hover {
    background-color: var(--muted-color);
    border-radius: 0.5rem;
}

.nav-item.active {
    color: var(--primary-color) !important;
    background-color: var(--muted-color);
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    width: 100%;
}

.nav-item.active .nav-link span {
    color: var(--primary-color) !important;
}

.breadcrumb-item {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25;
    color: #71717a;
    text-decoration: none !important;
}

.breadcrumb-item a {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25;
    color: #71717a;
    text-decoration: none !important;
}

.table tr th {
    font-weight: 600;
}

.table td {
    line-clamp: 1;
}

.nav-dashboard {
    color: #000;
    text-decoration: none;
    background-color: #e5e9f2;
    padding: 8px 36px;
    border-radius: 24px;
    font-weight: 500;
}

.nav-dashboard.active {
    color: #fff;
    background-color: var(--primary-color);
}
.bg-custom {
    background-color: #f01e2c !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.text-muted-custom {
    color: #7a7a7a;
}

.card-scheduled {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pie-chart {
    height: 250px !important;
    width: 250px !important;
}
