:root {
    --primary-color: #0369ff;

    /* FONT SIZE */
    --font-size-base: 14px;
    --font-size-semibig: 15px;
    --font-size-h2: 24px;
    --font-size-extrabig: 32px;
    /* END FONT SIZE */
}

html,
body {
    padding: 10;
    margin: 10;
    font-family: "Poppins", sans-serif;
    background-color: #f7f7f7;
}

#calendar {
    background-color: #ffff; /* Warna pastel biru muda */
    border-radius: 8px; /* Memberikan sudut yang melengkung */
    padding: 20px; /* Memberikan ruang di sekitar kalender */
}

/* Warna latar belakang header kalender */
.fc-toolbar-title {
    font-weight: 500;
}

.fc a {
    color: #000 !important;
    text-decoration: none;
}

.fc .fc-col-header-cell-cushion {
    font-weight: 400;
}

.fc-today-button {
    background-color: #0369ff !important;
    border: 0 !important;
}

.fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 12px 4px;
}

.fc-prev-button {
    background-color: #f5f8fa !important;
    color: #838aa8 !important;
    border: 0 !important;
}

.fc-next-button {
    background-color: #f5f8fa !important;
    color: #838aa8 !important;
    border: 0 !important;
}

.fc-dayGridMonth-button {
    background-color: #f5f8fa !important;
    color: #838aa8 !important;
    border: 0 !important;
}

.fc-timeGridWeek-button {
    background-color: #f5f8fa !important;
    color: #838aa8 !important;
    border: 0 !important;
}
